{{>layout/header}}

<div id="wrapper">
    <header id="header" class="alt">
        <h1>우주라이크</h1>
        <p>{{name}} 님, 환영합니다.</p>
        <ul class="actions fit">
            <li><a href="/" class="button" onclick="alert('준비중입니다.')">로그아웃</a></li>
        </ul>
    </header>

    <div class="datepicker" id="drinkdate"> </div>

    <div id="main">
        <section id="content" class="main">
            <h2>{{name}} 님의 주량 추가하기</h2>
<!-- form -->
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-12">
                        마신 날짜를 입력하세요 : <input type="date" name="drinkdate" id="drinkDate" required/>
                    </div>
                    <div class="col-12">
                        <select name="drinkType" id="drinkType">
                            <option value="">마신 술의 종류를 고르세요.</option>
                            {{#itemList}}
                            <option value={{id}}>{{itemName}}</option>
                            {{/itemList}}
                        </select>
                    </div>
                    <div class="col-12  col-12-xsmall">
                        <input type="text" name="cup" id="cup" value="" placeholder="몇 잔 마셨나요? 숫자로만 입력해주세요." required/>
                    </div>
                    <div class="col-6 col-12-small">
                        <input type="checkbox" id="film" name="film">
                        <label for="film">필름이 끊겼습니다.</label>
                    </div>
                    <div class="col-12">
                        <textarea name="memo" id="memo" placeholder="특이사항 적기" rows="3"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="주량 추가하기" class="primary" id="btn-event-save"/></li>
                            <li><input type="reset" value="입력내용 초기화" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <footer id="footer">
        <section>
            <h2>우주라이크</h2>
        </section>
        <section>
            <h2>팀 B511</h2>
            <dl class="alt">
                <dt>Email1</dt>
                <dd><a href="#">click_syk@naver.com</a></dd>
                <dt>Email2</dt>
                <dd><a href="#">tlswlgh120@naver.com</a></dd>
            </dl>
        </section>
    </footer>
</div>

<script>
    document.getElementById('drinkdate').value = new Date().toISOString().substring(0, 10);
    document.getElementById('drinkdate').max = new Date().toISOString().substring(0, 10);
</script>

{{>layout/footer}}