{{>layout/header}}

<div id="wrapper">
    <header id="header" class="alt">
        <h1>우주라이크</h1>
        <p>{{name}} 님, 환영합니다.</p>
        <ul class="actions fit">
            <li><a class="button" onclick="history.go(-1)">뒤로 돌아가기</a></li>
            <li><a href="/logout" class="button" >로그아웃</a></li>
        </ul>
    </header>

    <!-- Main -->
    <div id="main">
        <section id="content" class="main">

            <div class="col-6 col-12-medium">
                <ul class="actions stacked">
                    <li><a href="/service/friend_add" class="button primary fit">친구 추가하기</a></li>
                </ul>
                <br/>
            </div>

            <h2>친구 목록 조회</h2>
            <h3>친구 : {{friends_num}}명</h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>친구 주량 조회하기</th>
                            <th>친구 차단하기</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#friends}}
                        <tr>
                            <td>{{#AccountSimpleDto}}{{name}}{{/AccountSimpleDto}}</td>
                            <td><a href="/service/query/{{id}}">주량 조회하기</a></td>
                            <td>친구 차단 버튼 만들기</td>
                        </tr>
                    {{/friends}}
                </table>
            </div>

            <br>
            <h2>친구 요청 목록 조회</h2>
            <h3>요청 친구 : {{pending_num}}명</h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>이름</th>
                        <th>친구 수락하기</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#pending}}
                        <tr>
                            <td>{{#AccountSimpleDto}}{{name}}{{/AccountSimpleDto}}</td>
                            <td>
<!--                                <a href="/service/query/{{id}}">주량 조회하기</a>-->
                                친구 수락하는 버튼 만들기
                            </td>
                        </tr>
                    {{/pending}}
                </table>
            </div>

            <br>
            <h2>차단 친구 목록 조회</h2>
            <h3>차단 친구 : {{blocked_num}}명</h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>이름</th>
                        <th>차단 해제하기</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#blocked}}
                        <tr>
                            <td>{{#AccountSimpleDto}}{{name}}{{/AccountSimpleDto}}</td>
                            <td>
<!--                                <a href="/service/query/{{id}}">주량 조회하기</a>-->
                                차단 해제하는 버튼 만들기
                            </td>
                        </tr>
                    {{/blocked}}
                </table>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>우주라이크</h2>
        </section>
        <section>
            <h2>팀 B511</h2>
            <dl class="alt">
                <dt>Email1</dt>
                <dd><a href="#">click_syk@naver.com</a></dd>
                <dt>Email2</dt>
                <dd><a href="#">tlswlgh120@naver.com</a></dd>
            </dl>
        </section>
    </footer>
</div>

{{>layout/footer}}