{{>layout/header}}

<div id="wrapper">
    <header id="header" class="alt">
        <h1>우주라이크</h1>
        <p>{{username}} 님, 환영합니다.</p>
        <ul class="actions fit">
            <li><a class="button" onclick="history.go(-1)">뒤로 돌아가기</a></li>
            <li><a href="/" class="button" onclick="alert('준비중입니다.')">로그아웃</a></li>
        </ul>
    </header>

    <!-- Main -->
    <div id="main">
        <section>
            <h2>친구 목록 조회</h2>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>친구 주량 조회하기</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#myfriends}}
                        <tr>
                            <td>{{#AccountSimpleDto}}{{name}}{{/AccountSimpleDto}}</td>
                            <td><a href="/service/query/{{id}}">주량 조회하기</a></td>
                        </tr>
                    {{/myfriends}}
                </table>
            </div>

            <h3>Alternate</h3>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Item One</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                    <tr>
                        <td>Item Two</td>
                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                        <td>19.99</td>
                    </tr>
                    <tr>
                        <td>Item Three</td>
                        <td> Morbi faucibus arcu accumsan lorem.</td>
                        <td>29.99</td>
                    </tr>
                    <tr>
                        <td>Item Four</td>
                        <td>Vitae integer tempus condimentum.</td>
                        <td>19.99</td>
                    </tr>
                    <tr>
                        <td>Item Five</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>100.00</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>우주라이크</h2>
        </section>
        <section>
            <h2>팀 B511</h2>
            <dl class="alt">
                <dt>Email1</dt>
                <dd><a href="#">click_syk@naver.com</a></dd>
                <dt>Email2</dt>
                <dd><a href="#">tlswlgh120@naver.com</a></dd>
            </dl>
        </section>
    </footer>
</div>

{{>layout/footer}}