<!DOCTYPE HTML>
<html lang="ko">
<head>
	<title>우주라이크</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header" class="alt">
            <h1>우주라이크</h1>
            <p>간단한 음주량 관리</p>
                <ul class="actions fit">
                    <li><a href="/login" role="button" class="button">WEB에서 시작</a></li>
                    <li><a class="button" onclick="alert('준비중입니다.')">iOS에서 시작</a></li>
                </ul>    
        </header>

<!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#intro" class="active">소개</a></li>
				<li><a href="#first">자가진단</a></li>
				<li><a href="#second">기능</a></li>
				<li><a href="#third">About Us</a></li>
			</ul>
        </nav>
            
        <!-- Main -->
        <div id="main">
		   <!-- 소개 -->
		    <section id="intro" class="main special">
			    <div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>술, 이제 줄여야 합니다.</h2>
                        </header>
                        <ul class="statistics">
                            <li class="style1">
                                <span class="icon solid fa-beer"></span>
                                <strong>8.7L</strong> 한국의 1인당 <br> 알코올 소비량
                            </li>
                            <li class="style2">
                                <span class="icon solid fa-glass-cheers"></span>
                                <strong>39%</strong> 한국의 <br> 월간 폭음률
                            </li>
                            <li class="style3">
                                <span class="icon solid fa-chart-pie"></span>
                                <strong>14.3%</strong> 고위험 <br> 음주 비율
                            </li>
                            <li class="style4">
                                <span class="icon solid fa-dizzy"></span>
                                <strong>4,809</strong> 알코올로 인한 <br> 연간 사망자 수
                            </li>
                            <li class="style5">
                                <span class="icon solid fa-won-sign"></span>
                                <strong>9.4조원</strong> 음주로 인한 <br> 연간 사회적 비용
                            </li>
                        </ul>

    		    		<p>
    					    출처 :
	    					<a href="https://han.gl/5zn5e">질병관리본부</a>,
				            <a href="https://han.gl/5gNqk">한국경제TV 기사</a>, 
							<a href="https://han.gl/t2FZ1">서울경제 기사</a>
				        </p>
				        <br>

				    	<header class="major">
				           <h2>하루에 1분만 투자하세요!</h2>
						</header>
						<p>우주라이크는 사용자의 음주량을 분석하여 정확한 알코올 수치를 알려줍니다.
						<p>우주라이크는 사용자의 친구들과의 음주량을 비교하여 보여줍니다.</p>
					</div>
				</div>
            </section>
            
			<section id="first" class="main special">
            	<header class="major">
					<h2>혹시 나는 알코올 중독인가?</h2>
				</header>
                <form method="post" action="#">
                    <p>
                        1. 얼마나 술을 자주 마십니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis1" value="0" id="diagnosis1_1" checked/>
                        <label for="diagnosis1_1">전혀 안마심</label>
                        <input type="radio" name="diagnosis1" value="1" id="diagnosis1_2"/>
                        <label for="diagnosis1_2">월 1회</label>
                        <input type="radio" name="diagnosis1" value="2" id="diagnosis1_3"/>
                        <label for="diagnosis1_3">월 2~4회</label>
                        <input type="radio" name="diagnosis1" value="3" id="diagnosis1_4"/>
                        <label for="diagnosis1_4">주 2~3회</label>
                        <input type="radio" name="diagnosis1" value="4" id="diagnosis1_5"/>
                        <label for="diagnosis1_5">주 4회 이상</label>
                    </div>
                    <br>
                    
                    <p>
                        2. 술을 마시면 한번에 몇 잔정도 마십니까? <br>
                        (소주 3잔에 맥주 500ml 정도)
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis2" value="0" id="diagnosis2_1" checked="checked" />
                        <label for="diagnosis2_1">전혀 안마심</label>
                        <input type="radio" name="diagnosis2" value="1" id="diagnosis2_2"/>
                        <label for="diagnosis2_2">소주 1~2잔</label>
                        <input type="radio" name="diagnosis2" value="2" id="diagnosis2_3"/>
                        <label for="diagnosis2_3">소주 3~4잔</label>
                        <input type="radio" name="diagnosis2" value="3" id="diagnosis2_4"/>
                        <label for="diagnosis2_4">소주 5~6잔</label>
                        <input type="radio" name="diagnosis2" value="4" id="diagnosis2_5"/>
                        <label for="diagnosis2_5">소주 7~9잔</label>
                        <input type="radio" name="diagnosis2" value="5" id="diagnosis2_5"/>
                        <label for="diagnosis2_6">소주 10잔 이상</label>
                    </div>
                    <br>
                    
                    <p>
                        3. 한번에 소주 한 병 또는 맥주 4병 이상 마시는 경우는 얼마나 있습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis3" value="0" id="diagnosis3_1" checked="checked" />
                        <label for="diagnosis3_1">전혀 없음</label>
                        <input type="radio" name="diagnosis3" value="1" id="diagnosis3_2"/>
                        <label for="diagnosis3_2">분기 1회</label>
                        <input type="radio" name="diagnosis3" value="2" id="diagnosis3_3"/>
                        <label for="diagnosis3_3">월 1회</label>
                        <input type="radio" name="diagnosis3" value="3" id="diagnosis3_4"/>
                        <label for="diagnosis3_4">주 1회</label>
                        <input type="radio" name="diagnosis3" value="4" id="diagnosis3_5"/>
                        <label for="diagnosis3_5">거의 매일</label>
                    </div>
                    <br>
                    
                    <p>
                        4. 지난 일년간 한번 술을 마시기 시작하면 멈출 수 없었던 때가 얼마나 자주 있었습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis4" value="0" id="diagnosis4_1" checked="checked" />
                        <label for="diagnosis4_1">전혀 없음</label>
                        <input type="radio" name="diagnosis4" value="1" id="diagnosis4_2"/>
                        <label for="diagnosis4_2">분기 1회</label>
                        <input type="radio" name="diagnosis4" value="2" id="diagnosis4_3"/>
                        <label for="diagnosis4_3">월 1회</label>
                        <input type="radio" name="diagnosis4" value="3" id="diagnosis4_4"/>
                        <label for="diagnosis4_4">주 1회</label>
                        <input type="radio" name="diagnosis4" value="4" id="diagnosis4_5"/>
                        <label for="diagnosis4_5">거의 매일</label>
                    </div>
                    <br>
                    
                    <p>
                        5. 지난 일년간 평소 같으면 할 수 있던 일을 음주 때문에 하지 못한적이 얼마나 자주 있었습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis5" value="0" id="diagnosis5_1" checked="checked" />
                        <label for="diagnosis5_1">전혀 없음</label>
                        <input type="radio" name="diagnosis5" value="1" id="diagnosis5_2"/>
                        <label for="diagnosis5_2">분기 1회</label>
                        <input type="radio" name="diagnosis5" value="2" id="diagnosis5_3"/>
                        <label for="diagnosis5_3">월 1회</label>
                        <input type="radio" name="diagnosis5" value="3" id="diagnosis5_4"/>
                        <label for="diagnosis5_4">주 1회</label>
                        <input type="radio" name="diagnosis5" value="4" id="diagnosis5_5"/>
                        <label for="diagnosis5_5">거의 매일</label>
                    </div>
                    <br>
                    
                    <p>
                        6. 지난 일년간 술을 마신 다음날 해장술을 마신적은 얼마나 자주 있습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis6" value="0" id="diagnosis6_1" checked="checked" />
                        <label for="diagnosis6_1">전혀 없음</label>
                        <input type="radio" name="diagnosis6" value="1" id="diagnosis6_2"/>
                        <label for="diagnosis6_2">분기 1회</label>
                        <input type="radio" name="diagnosis6" value="2" id="diagnosis6_3"/>
                        <label for="diagnosis6_3">월 1회</label>
                        <input type="radio" name="diagnosis6" value="3" id="diagnosis6_4"/>
                        <label for="diagnosis6_4">주 1회</label>
                        <input type="radio" name="diagnosis6" value="4" id="diagnosis6_5"/>
                        <label for="diagnosis6_5">거의 매일</label>
                    </div>
                    <br>
                    
                    <p>
                        7. 지난 일년간 음주 후에 죄책감을 느끼거나 후회한 적이 얼마나 자주 있습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis7" value="0" id="diagnosis7_1" checked="checked" />
                        <label for="diagnosis7_1">전혀 없음</label>
                        <input type="radio" name="diagnosis7" value="1" id="diagnosis7_2"/>
                        <label for="diagnosis7_2">분기 1회</label>
                        <input type="radio" name="diagnosis7" value="2" id="diagnosis7_3"/>
                        <label for="diagnosis7_3">월 1회</label>
                        <input type="radio" name="diagnosis7" value="3" id="diagnosis7_4"/>
                        <label for="diagnosis7_4">주 1회</label>
                        <input type="radio" name="diagnosis7" value="4" id="diagnosis7_5"/>
                        <label for="diagnosis7_5">거의 매일</label>
                    </div>
                    <br>
                    
                    <p>
                        8. 지난 일년간 음주 때문에 전날 밤에 있었던 일이 기억나지 않았던적이 얼마나 자주 있었습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis8" value="0" id="diagnosis8_1" checked="checked" />
                        <label for="diagnosis8_1">전혀 없음</label>
                        <input type="radio" name="diagnosis8" value="1" id="diagnosis8_2"/>
                        <label for="diagnosis8_2">분기 1회</label>
                        <input type="radio" name="diagnosis8" value="2" id="diagnosis8_3"/>
                        <label for="diagnosis8_3">월 1회</label>
                        <input type="radio" name="diagnosis8" value="3" id="diagnosis8_4"/>
                        <label for="diagnosis8_4">주 1회</label>
                        <input type="radio" name="diagnosis8" value="4" id="diagnosis8_5"/>
                        <label for="diagnosis8_5">거의 매일</label>
                    </div>
                    <br>
                    
                    <p>
                        9. 음주로 인해 자신이나 다른 사람들 다치게 한 적이 있습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis9" value="0" id="diagnosis9_1" checked="checked" />
                        <label for="diagnosis9_1">없음</label>
                        <input type="radio" name="diagnosis9" value="1" id="diagnosis9_2"/>
                        <label for="diagnosis9_2">있었지만, 지난 1년간에는 없었음</label>
                        <input type="radio" name="diagnosis9" value="2" id="diagnosis9_3"/>
                        <label for="diagnosis9_3">지난 1년 내내 있었음</label>
                    </div>
                    <br>
                    
                    <p>
                        10. 친척이나 친구,의사가 당신이 술마시는 것을 걱정하거나 당신에게 술끊기를 권유한 적이 있습니까?
                    </p>
                    <div class="col-4 col-12-small">
                        <input type="radio" name="diagnosis10" value="0" id="diagnosis10_0" checked="checked" />
                        <label for="diagnosis10_0">전혀 안마심</label>
                        <input type="radio" name="diagnosis10" value="1" id="diagnosis10_1"/>
                        <label for="diagnosis10_1">없음</label>
                        <input type="radio" name="diagnosis10" value="2" id="diagnosis10_2"/>
                        <label for="diagnosis10_2">있었지만, 지난 1년간에는 없었음</label>
                        <input type="radio" name="diagnosis10" value="3" id="diagnosis10_3"/>
                        <label for="diagnosis10_3">지난 1년 내내 있었음</label>
                    </div>
                    <br>
                    <div>
                        <h2><span id="diagnosis-result">0</span>점</h2>
                        <ul class="actions special">
                            <li>
                                <a class="button primary" onclick="output(this.form)">결과보기</a>
                            </li>
                        </ul>
                    </div>
                </form>
                
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>점수</th>
                                <th>결과</th>
                            </tr>
						</thead>
					    <tbody>
						    <tr>
						        <td>12점 - 14점</td>
						        <td>상습적 과음주자로 주의가 필요</td>
						    </tr>
						    <tr>
						        <td>15점 - 19점</td>
						        <td>문제 음주자로 적절한 조치가 필요</td>
						    </tr>
						    <tr>
						        <td>20점 - 24점</td>
						        <td>전문가와 상담이 요구됨</td>
						    </tr>
						    <tr>
						        <td>25점 - </td>
						        <td>알코올 중독자로 전문적 입원치료 및 상담 필요</td>
						    </tr>
                        </tbody>
					</table>
				</div>
                                
                <p>
                    출처 :
	    			<a href="http://www.dangjin.go.kr/health/sub06_08_01.do#none">당진시보건소</a>
                </p>
                
				<p class="content">
                    
                </p>
<!--
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
-->
			</section>
			<section id="second" class="main special">
				<header class="major">
					<h2>우주라이크의 기능</h2>
				</header>
				
				<ul class="features" style="text-align: justify-all">
					<li>
                    	<span class="icon solid major style1 fa-chart-bar"></span>
						<h3>음주량 기록</h3>
						<p>사용자로부터 음주량을 입력받은 데이터를 토대로 다양한 통계치를 제공합니다.</p>
			        </li>
					<li>
						<span class="icon solid major style3 fa-user-friends"></span>
						<h3>친구 기능</h3>
						<p>우주라이크는 친구 추가 기능을 제공하여 친구들과 사용자의 음주량을 비교할 수 있습니다.</p>
					</li>
<!--
									<li>
										<span class="icon major style5 fa-gem"></span>
										<h3>Dolor nullam</h3>
										<p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
									</li>
-->
				</ul>
<!--
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
-->
            </section>

						<!-- Get Started -->
			<section id="third" class="main special">
				<header class="major">
					<h2>팀 B511</h2>
					<p>
					    홍익대학교 컴퓨터공학과 졸업프로젝트
					</p>
					<p>
					    우측 하단부의 화살표를 클릭하여 우주라이크를 시작해보세요!
					</p>
				</header>
            </section>
		</div>

				<!-- Footer -->
		<footer id="footer">
            <section>
				<h2>우주라이크</h2>
            </section>
			<section>
				<h2>팀 B511</h2>
			    <dl class="alt">
					<dt>Email1</dt>
					<dd><a href="#">click_syk@naver.com</a></dd>
					<dt>Email2</dt>
					<dd><a href="#">tlswlgh120@naver.com</a></dd>
				</dl>
<!--
				<ul class="icons">
					<li>
					    <a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a>
                    </li>
					<li>
					    <a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a>
                    </li>
					<li>
					    <a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a>
                    </li>
					<li>
					    <a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a>
                    </li>
					<li>
					    <a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a>
                    </li>
				</ul>
-->
            </section>
<!--
            <p class="copyright">
                &copy; Design: <a href="https://html5up.net">HTML5 UP</a>
            </p>
-->
        </footer>
    </div>
    

    
    <a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a> 
<!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
    <script src="/assets/js/diagnosis.js"></script>

</body>
</html>