<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>우주라이크</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<div id="wrapper">
    <header id="header" class="alt">
        <h1>우주라이크</h1>
        <ul class="actions fit">
            <li><a class="button" onclick="history.go(-1)">뒤로 돌아가기</a></li>
        </ul>
    </header>

    <div id="main">
        <section id="content" class="main">
            <h2>회원가입</h2>
            <!-- form -->
            <form>
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <label for="id">아이디</label>
                        <input class="form-control" type="text" name="id" id="id" required/>
                    </div>
                    <div class="col-12">
                        <label for="password">비밀번호</label>
                        <input class="form-control" type="password" name="password" id="password" required/>
                    </div>
                    <div class="col-12">
                        <label for="email">이메일</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="이메일 형태로 입력해주세요" required/>
                    </div>
                    <div class="col-12">
                        <label for="birthdate">생년월일</label>
                        <input class="form-control" type="text" name="birthdate" id="birthdate" placeholder="형식 : yyyy-DD-mm" required/>
                    </div>
                    <div class="col-12">
                        <label for="gender">성별</label>
                        <select class="form-control" name="gender" id="gender">
                            <option value="1">남자</option>
                            <option value="2">여자</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="height">키</label>
                        <input class="form-control" type="text" name="height" id="height" required/>
                    </div>
                    <div class="col-12">
                        <label for="weight">몸무게</label>
                        <input class="form-control" type="text" name="weight" id="weight" required/>
                    </div>

                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="button" value="회원 가입" class="primary" id=" btn-event-save "/></li>
                            <li><input type="reset" value="입력내용 초기화" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <footer id="footer">
        <section>
            <h2>우주라이크</h2>
        </section>
        <section>
            <h2>팀 B511</h2>
            <dl class="alt">
                <dt>Email1</dt>
                <dd><a href="#">click_syk@naver.com</a></dd>
                <dt>Email2</dt>
                <dd><a href="#">tlswlgh120@naver.com</a></dd>
            </dl>
        </section>
    </footer>
</div>



<a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/diagnosis.js"></script>

</body>
</html>